<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<!-- Vue JS -->
		<script src="{{ url_for('static', filename='vue.js') }}"></script>
		<!-- Axios for AJAX -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <!-- Header: Changes here need to be done in all other files -->
		<header class="page-header bg-light" id="headerId">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark shrink-to-fit">
        <a class="navbar-brand" href="index.html">
					<div class="container">
						<div class="row">
							<div class="col-xs-6">
								<img class="logo rounded" src="{{ url_for('static', filename='logo.jpg') }}" alt="logo-coder">
							</div>
							<div class="col-xs-4">
								&nbsp;&nbsp;
							</div>
							<div class="col-xs-6">
								<h3 class="navbar-dark bg-dark text-light">Online Coding Platform</h3>
							</div>
							<div class="nav-item" v-if="typeof(guest) == 'string'">
								<label class="nav-link" v-text="user"></label>
							</div>
						</div>
					</div>
        </a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'undefined'">
						<a class="nav-link" href="login.html">Login</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'undefined'">
						<a class="nav-link" href="register.html">Register</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'string'">
						<a class="nav-link" href="question.html">Practice</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'string'">
						<a class="nav-link" href="index.html" @click='signOut'>Sign out</a>
					</li>
				</ul>
			</nav>
		</header>
		<script>
			headerApp = new Vue({
				el: '#headerId',
				data: {
					guest: localStorage.token,
					user: "Hi "+localStorage.username+"!"
				},
				methods: {
					signOut: function() {
						localStorage.removeItem("token")
						localStorage.removeItem("username")
					}
				}
			})
		</script>
    <p></p>
		<article class="container" id="questionId">
			<div class="row">
				<div id="question" class="col-sm-6">
					<h3 v-text='qDetails.name'></h3>
					<p v-for="line in qDetails.question" v-text='line'></p>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<samp>Sample Input</samp>
								<div>
									<samp v-for="line in qDetails.sample_input">
										<div class="row" v-text='line'></div>
									</samp>
								</div>
							</div>
							<div class="col-sm-6">
								<samp>Sample Output</samp>
								<div>
									<samp v-for="line in qDetails.sample_output">
										<div class="row" v-text='line'></div>
									</samp>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<textarea id="code" class="md-textarea form-control" rows="20" v-model='code'></textarea><p></p>
					<button type="submit" class="btn btn-success" @click="submitCode">Submit</button>
				</div>
			</div><p></p>
			<div v-if="runDone" class="text-danger" v-text='result'></div>
		</article>
		<script>
			questionApp = new Vue({
				el: '#questionId',
				data: {
					qName: window.location.href.split('?')[1],
					qDetails: {
						name: null,
						question: null,
						sample_input: null,
						sample_output: null
					},
					code: null,
					result: null,
					runDone: false
				},
				methods: {
					getQuestionDetails: function() {
						axios.get('/get_question_details/'+questionApp.qName+'/'+localStorage.token, {
							params: {}
						})
						.then(function(response) {
							if(typeof(response.data) != "object") {
								alert(response.data)
								if(localStorage.token)
									localStorage.removeItem("token")
								if(localStorage.username)
									localStorage.removeItem("username")
								location.replace('index.html')
							}
							else {
								questionApp.qDetails.name = response.data.name
								questionApp.qDetails.question = response.data.question.split('\n')
								questionApp.qDetails.sample_input = response.data.sample_input.split('\n')
								questionApp.qDetails.sample_output = response.data.sample_output.split('\n')
							}
						})
					},
					submitCode: function() {
						questionApp.runDone = false
						axios.get('/evaluate_question/'+localStorage.token, {
							params: {
								inputCode: questionApp.code,
								question: questionApp.qDetails.name
							}
						})
						.then(function (response) {
							questionApp.result = response.data
							questionApp.runDone = true
							alert(response.data)
						})
					}
				}
			})
			document.body.onload = questionApp.getQuestionDetails()
		</script>
  </body>
</html>