<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<!-- Vue JS -->
		<script src="{{ url_for('static', filename='vue.js') }}"></script>
		<!-- Axios for AJAX -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body onscroll="questionApp.predictiveFetchQuestion(questionApp.numQues)">
    <!-- Header: Changes here need to be done in all other files -->
		<header class="page-header bg-light" id="headerId">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark shrink-to-fit">
        <a class="navbar-brand" href="index.html">
					<div class="container">
						<div class="row">
							<div class="col-xs-6">
								<img class="logo rounded" src="{{ url_for('static', filename='logo.jpg') }}" alt="logo-coder">
							</div>
							<div class="col-xs-4">
								&nbsp;&nbsp;
							</div>
							<div class="col-xs-6">
								<h3 class="navbar-dark bg-dark text-light">Online Coding Platform</h3>
							</div>
							<div class="nav-item" v-if="typeof(guest) == 'string'">
								<label class="nav-link" v-text="user"></label>
							</div>
						</div>
					</div>
        </a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'undefined'">
						<a class="nav-link" href="login.html">Login</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'undefined'">
						<a class="nav-link" href="register.html">Register</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'string'">
						<a class="nav-link" href="question.html">Practice</a>
					</li>
					<li class="nav-item" v-if="typeof(guest) == 'string'">
						<a class="nav-link" href="index.html" @click='signOut'>Sign out</a>
					</li>
				</ul>
			</nav>
		</header>
		<script>
			headerApp = new Vue({
				el: '#headerId',
				data: {
					guest: localStorage.token,
					user: "Hi "+localStorage.username+"!"
				},
				methods: {
					signOut: function() {
						localStorage.removeItem("token")
						localStorage.removeItem("username")
					}
				}
			})
		</script>
    <p></p>
    <article>
			<div id="questionListId" class="container">
				<div v-for="q in questionsArray" class="card" style="font-size: 33px;">
					<a v-bind:href="'/get_question_details/'+q+'/'+q_tok" v-text="q" class="card-body"></a>
				</div>
			</div>
		</article>
		<script>
			questionApp = new Vue({
				el: '#questionListId',
				data: {
					numQues: 0,
					questionsArray: [],
					q_tok: localStorage.token,
					q_num: 0
				},
				methods: {
					predictiveFetchQuestion: function(n) {
						axios.get('/list_all_questions/'+localStorage.token, {
							params: {
								quesNum: questionApp.numQues
							}
						})
						.then(function (response) {
							var quesArr = response.data.quesList.split(',')
							for(i=0;i<quesArr.length-1;++i) {
								questionApp.questionsArray.push(quesArr[i])
							}
							questionApp.numQues = response.data.quesNum
						})
					}
				}
			})
			questionApp.predictiveFetchQuestion(questionApp.numQues)
		</script>
  </body>
</html>